# server configuration
# Env value : prod || dev
APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=3000
APP_URL=http://localhost:3000
MCP_PORT=3001
SSE_PORT=3002
API_ACCESS_KEY=abc1abc123

# database configuration
DATABASE_URL=postgres://user:pass@localhost:5433/dbname?sslmode=disable

NATS_URL=nats://localhost:4222
# Example use: customer-menus:customer-id:content-id
NATS_CUSTOMER_MENU_PREFIX="customer-menus"

# OLLAMA configs
# Keep modes in memory indefinetely instead of the default 5 minutes.
OLLAMA_KEEP_ALIVE=-1
OLLAMA_API_URL=http://localhost:11434
OLLAMA_EMBEDDINGS_MODEL="qwen3-embedding:0.6b"

# SmartKasse24
# %s to be replaced with the customer id
SK_API_AUTH_TOKEN=jwttoken
SK_API_MENU_DOWNLOAD_URL=https://xxxx.yyyy.de/menu/text/%s/SoloApp