# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
api
mcp
worker
sk-rag.pem

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

tei/

# Go workspace file
go.work
.idea/

# Do not send the last updated at for the customer embeddings
data/*

# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore
# But not these files...
!/.gitignore

!*.go
!go.sum
!go.mod

!README.md
!LICENSE%
!data/.keep

# to keep sensitive export away git
*.env

# Air log
air.log

/.vscode/
